@inject HttpClient Http

<div class="row mt-5">
    <div class="col">
        <h3>Categories</h3>
    </div>
    <div class="col">
        <SearchCategory Search="SearchCategories"></SearchCategory>
    </div>
</div>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table mb-4">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var category in categories)
        {
            <tr @onclick="@(async () => await CategoryClicked(category.Id))">
                <th></th>
                <td>
                    @category.Title
                </td>
                <td class="text-center">
                    <button class="btn btn-dark"
                            @onclick="@(async () => await DeleteCategory(category.Id))"
                            @onclick:preventDefault="true"
                            @onclick:stopPropagation="true">
                        Delete
                    </button>
                </td>
            </tr>
        }
            <tr id="addRow">
                <td></td>
                <td>
                    <input class="form-control w-50" @bind="newCategoryTitle" placeholder="New Category" />
                </td>
                <td class="text-center">
                    <button class="btn btn-secondary" @onclick="AddCategory">
                        Add
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    if (selectedProductId != 0)
    {
        <CategoryProducts CategoryId="selectedProductId"></CategoryProducts>
    }
}


@code {
    private const string categoriesEndPoint = "api/Category/categories";
    private List<Category> categories;
    private string? newCategoryTitle;

    private List<long> searchResult = new List<long>();

    private long selectedProductId = 0;

    protected override async Task OnInitializedAsync()
    {
        await GetCategories();
    }
    private async Task GetCategories()
    {
        categories = await Http.GetFromJsonAsync<List<Category>>(categoriesEndPoint);

        if (searchResult.Count > 0)
        {
            categories.RemoveAll(x => !searchResult.Contains(x.Id));
        }
    }

    private async Task AddCategory()
    {
        var addCategory = new Category { Title = newCategoryTitle };

        await Http.PostAsJsonAsync(categoriesEndPoint, addCategory);

        newCategoryTitle = string.Empty;

        await GetCategories();
    }

    private async Task DeleteCategory(long id)
    {
        if (selectedProductId == id) selectedProductId = 0;

        await Http.DeleteAsync($"{categoriesEndPoint}/{id}");
        await GetCategories();
    }

    private async Task CategoryClicked(long id)
    {
        if (selectedProductId == id)
            selectedProductId = 0;
        else
        {
            selectedProductId = 0;
            await Task.Delay(1);
            selectedProductId = id;
        }
    }

    private async Task SearchCategories(List<long> result)
    {
        searchResult = result;
        await GetCategories();
    }
}
