@page "/categories"
@inject HttpClient Http

<h3>List of Categories</h3>

@if (categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Title</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Category> categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await Http.GetFromJsonAsync<List<Category>>("api/Category/categories");
    }

}
